.add-task-btn {
	padding-right: 10px;
}

.task-content {
	font-size: 16px;
}

.date-title {
	margin-top: 20px;
}

.more-img {
	margin-bottom: 50px;
	margin-top: 50px;
}

.article {
	margin-bottom: 100px;
}
